/node_modules
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

/coverage
/dist
/reports
/.parcel-cache
/.cache
/.direnv
/storybook-static
.env
.log

package-lock.json
